<div id="content">
  <mat-card>
      <h1>Página en mantenimiento</h1>
          La página que está buscando esta en mantenimiento, regrese a la <a routerLink="/main">página principal</a>.
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img [src]="fullImagePath" class="maintenance" width="100%" height="100%">
  </div>
</div>
