<p>
  kendo-angular-ui works!. <a href="https://www.telerik.com/kendo-angular-ui/components/charts/">Encuentra más ejemplos aquí. Revisalos</a>
</p>


<h1>{{title}}</h1>
<button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>
<br>
<kendo-chart [title]="{ text: 'Average Weather Conditions' }">
  <kendo-chart-series>
      <kendo-chart-series-item type="rangeArea"
        [data]="weatherData" fromField="min" toField="max" categoryField="month">
      <kendo-chart-series-item-labels-from [content]="labelContentFrom">
      </kendo-chart-series-item-labels-from>
      <kendo-chart-series-item-labels-to [content]="labelContentTo">
      </kendo-chart-series-item-labels-to>
    </kendo-chart-series-item>
  </kendo-chart-series>
  <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [labels]="{ rotation: 'auto' }">
      </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-tooltip>
    <ng-template kendoChartSeriesTooltipTemplate let-value="value">
      Avg Min Temp : {{ value.from }} °C <br>
      Avg Max Temp : {{ value.to }} °C"
    </ng-template>
  </kendo-chart-tooltip>
</kendo-chart>
<br>
<kendo-chart [title]="{ text: 'Cash flow' }">
  <kendo-chart-series>
    <kendo-chart-series-item type="waterfall"
                             [data]="cashFlowData" [color]="pointColor"
                             field="amount" categoryField="period" summaryField="summary">
      <kendo-chart-series-item-labels format="C0" position="insideEnd">
      </kendo-chart-series-item-labels>
    </kendo-chart-series-item>
  </kendo-chart-series>
  <kendo-chart-value-axis>
      <kendo-chart-value-axis-item [labels]="{ format: 'C0' }">
      </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>
</kendo-chart>