<p>
  ng2-charts works! <a href="https://valor-software.com/ng2-charts/">Encuentra más ejemplos aquí. Revisalos</a>
</p>
<div style="display: block">
    <canvas baseChart
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>