<mat-toolbar-row class="menu-bar; colorFondo">
  <button mat-button [mat-menu-trigger-for]="menuCatalogos" class="clase_Boton">
    Catálogos
  </button>
  <button mat-button [mat-menu-trigger-for]="menuOperacion" class="clase_Boton">
    Operación
  </button>
  <button mat-button [mat-menu-trigger-for]="menuReportes" class="clase_Boton">
    Reportes
  </button>
</mat-toolbar-row>
<mat-menu [overlapTrigger]="false" #menuCatalogos="matMenu">
  <button mat-menu-item *ngFor="let cat of catalogos" [routerLink]="cat.url">
    {{ cat.text }}
  </button>
</mat-menu>
<mat-menu [overlapTrigger]="false" #menuOperacion="matMenu">
  <button mat-menu-item *ngFor="let ope of operacion" [routerLink]="ope.url">
    {{ ope.text }}
  </button>
</mat-menu>
<mat-menu [overlapTrigger]="false" #menuReportes="matMenu">
  <button mat-menu-item *ngFor="let rep of reportes" [routerLink]="rep.url">
    {{ rep.text }}
  </button>
</mat-menu>
