<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf='showToolbar()'>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu {{login}}</mat-icon>
    </button>
    <h1 class="example-app-name">
      <app-titlecase-pipe></app-titlecase-pipe>
    </h1>
  </mat-toolbar>
  <!--
  <div [ngSwitch]="header.modeRow">
    <app-angular-nvd3 *ngSwitchCase=1></app-angular-nvd3>
    <app-chart-js *ngSwitchCase=2></app-chart-js>
    <app-fusioncharts *ngSwitchCase=3></app-fusioncharts>
    <app-google-chart *ngSwitchCase=4></app-google-chart>
    <app-highcharts *ngSwitchCase=5></app-highcharts>
    <app-jqwidgets-chart *ngSwitchCase=6></app-jqwidgets-chart>
    <app-kendo-angular-ui *ngSwitchCase=7></app-kendo-angular-ui>
    <app-ng2-charts *ngSwitchCase=8></app-ng2-charts>
    <app-ngx-charts *ngSwitchCase=9></app-ngx-charts>
    <app-primeng-ui *ngSwitchCase=10></app-primeng-ui>
  </div>
-->


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="{{menu.url}}" *ngFor="let menu of mainMenu" (click)="snav.toggle()">
          <mat-icon>label</mat-icon>
          <span>{{menu.text}}</span>
        </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet class="cuerpo"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
<!--<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>-->

