<p>
  fusioncharts works!.  <a href="https://fusioncharts.github.io/angular2-fusioncharts/#/ex1">Encuentra más ejemplos aquí. Revisalos</a>
</p>
<div>
    <fusioncharts width="500" height="300" type="column2d" dataFormat="json" [dataSource]="data" ></fusioncharts>
</div>