// Header
#content {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.spacer-light {
  margin: 0 10px;
}

.mat-toolbar.mat-primary {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

span a, span a:hover {
  text-decoration: none;
  color:rgba(255,255,255,.87);
}

mat-icon {
  margin-right: 0px!important;
}

.menu-link a, .menu-link a:hover {
  font-size: 14px;
  text-decoration: none;
  color:rgba(255,255,255,.87);
  margin: 0 10px;
}

a, a:hover {
  text-decoration: none;
  color:rgba(0,0,0,.87);
}

.mat-icon {
  text-decoration: none;
  color:rgba(255,255,255,.87);
}

.login, .logout, .profile, .messages, .settings, .home, .about, .contact, .misc, .signup {
  color: #333;
}

// Sidenav
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  width: 200px;
  z-index: 100;
}

.menu-link button, .menu-link a:hover {
  width: 100%;
  height: 48px;
  font-size: 14px;
  line-height: 48px;
  padding: 0 16px;
  text-decoration: none;
  text-align: left;
}

span {
  margin-left: 15px;
}

img {
  margin: 15px 15px 0;
  max-width: 150px;
  max-height: 180px;
}


.img-circle {
  height: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid white;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
