<div *ngIf='showToolbar()'>
  <button (click)="lanzar($event)">Lanzar alert</button>
  <p>{{submenu}}</p>
  <!-- Sidenav -->
  <mat-sidenav mode="push" opened="false" #sidenav fxFlex="35">
    <img [src]="angularImage" class="img-circle">
    <div class="menu-link">
      <button mat-button [routerLink]="['/main']" (click)="sidenav.close()">
        <mat-icon class="home">home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-button [routerLink]="['/controlcartera']" (click)="sidenav.close()">
        <mat-icon class="misc">label</mat-icon>
        <span>Control de cartera</span>
      </button>
      <button mat-button [routerLink]="['/aclaraciones']" (click)="sidenav.close()">
        <mat-icon class="misc">label</mat-icon>
        <span>Aclaraciones</span>
      </button>
      <button mat-button [routerLink]="['/ahorros']" (click)="sidenav.close()">
        <mat-icon class="misc">label</mat-icon>
        <span>Ahorros</span>
      </button>
      <button mat-button [routerLink]="['/monitoreo']" (click)="sidenav.close()">
        <mat-icon class="misc">label</mat-icon>
        <span>Monitoreo</span>
      </button>
      <button mat-button [routerLink]="['/pld']" (click)="sidenav.close()">
        <mat-icon class="misc">label</mat-icon>
        <span>PLD</span>
      </button>
      <button mat-button [routerLink]="['/autofinanciamiento']" (click)="sidenav.close()">
        <mat-icon class="misc">label</mat-icon>
        <span>Autofinanciamiento</span>
      </button>
      <button mat-button [routerLink]="['/pld-independiente']" (click)="sidenav.close()">
        <mat-icon class="misc">label</mat-icon>
        <span>PLD Independiente/Externo</span>
      </button>
      <hr>
      <div *ngIf="true">
        <button mat-button routerLink="['/login']" (click)="sidenav.close()">
          <mat-icon class="login">lock_open</mat-icon>
          <span>Login</span>
        </button>
      </div>
      <ng-template #logout>
        <button mat-button (click)="logout()" (click)="sidenav.close()">
          <mat-icon class="logout">lock_outline</mat-icon>
          <span>Logout</span>
        </button>
      </ng-template>
    </div>
  </mat-sidenav>

  <!-- Sidenav activate -->

  <!-- Header -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button type="button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      <span>
        <a [routerLink]="['/']">
          <app-titlecase-pipe></app-titlecase-pipe>
        </a>
      </span>
      <span class="spacer"></span>
      <div ></div>
      <span class="spacer-light"></span>
      <div>
        <a [routerLink]="['/login']"><mat-icon>lock_open</mat-icon></a>
      </div>
    </mat-toolbar-row>
    <!-- Submenú Ahorros -->
    <mat-toolbar-row>
      <button mat-button [mat-menu-trigger-for]="menuCatalogos">
        Catálogos
      </button>
      <button mat-button [mat-menu-trigger-for]="menuOperacion">
        Operación
      </button>
      <button mat-button [mat-menu-trigger-for]="menuReportes">
        Reportes
      </button>
    </mat-toolbar-row>
    <mat-menu [overlapTrigger]="false" #menuCatalogos="matMenu">
      <button mat-menu-item *ngFor="let cat of catalogosA" [routerLink]="cat.url">
        {{ cat.text }}
      </button>
    </mat-menu>
    <mat-menu [overlapTrigger]="false" #menuOperacion="matMenu">
      <button mat-menu-item *ngFor="let ope of operacionA" [routerLink]="ope.url">
        {{ ope.text }}
      </button>
    </mat-menu>
    <mat-menu [overlapTrigger]="false" #menuReportes="matMenu">
      <button mat-menu-item *ngFor="let rep of reportesA" [routerLink]="rep.url">
        {{ rep.text }}
      </button>
    </mat-menu>
  </mat-toolbar>
</div>

