<div class="wrapper">
  <div class="carousel">
    <ul class="slides">
      <li *ngFor="let image of images">
        <h2>{{image.title}}</h2>
        <a href="{{image.url}}" target="_blank">
          <img src="{{image.dir}}" alt="{{image.title}}">
        </a>
      </li>
    </ul>
  </div>
</div>
