<mat-toolbar  class="footer" color="primary" [ngStyle]="{'height': '30px'}"
[ngStyle.xs]="{'font-size.px': 6}"
[ngStyle.sm]="{'font-size.px': 12}"
[ngStyle.md]="{'font-size.px': 15}"
[ngStyle.lg]="{'font-size.px': 20}">
  <span><app-titlecase-pipe></app-titlecase-pipe>©<app-year-pipe></app-year-pipe> Todos los derechos reservados. Desarrollado por DAComp S.C</span>
  <!--
  <span class="spacer"></span>
  <a routerLink="/contact"><mat-icon class="icon">mail_outline</mat-icon></a>
-->
</mat-toolbar>

