.mat-toolbar.mat-primary {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.colorFondo {
  background-color: #024C6F;
  height: 36px;
}

.clase_Boton {
  color: floralwhite;
  font-size: 14px;
}

.mat-menu-item {
  font-size: 14px;
}
